<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <connectionStrings>
    <add name="DbConnection"
         connectionString = "Server=ASEN-PL--MDWIVE\MSSQLSERVERNEW;Database=StagingDB;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
